
html, body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 33px;
  height: 100%;
  width: 100%;
}

main {
  background-color: #1a1a1a;
  min-height: 100%;
  width: 80%;
  position: absolute;
  right: 0;
}

/*Menu */
#menu {
  background-color: black;
  position: fixed;
  width: 20%;
  height: 100%;
  border-right: solid 2px white;
  z-index: 1;
}

#button_nav {
  margin-top: 0.3rem;
  position: absolute;
}

#button_nav div {
  width: 40px;
  height: 7px;
  background-color: #4d94ff;
  margin: 7px 0;
}

#button, #backgroundButton {
  display: none;
}

nav ul {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 13vh;
  align-items: center;
}

nav ul a {
  text-decoration: none;
  color: #ccefff;
}

nav a:hover {
  color: #66a3ff;
  transition-duration: 0.8s;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
}

#nom_menu {
  text-align: center;
  margin-top: 10vh;
  width: 100%;
  color: #66a3ff;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
}

#selectLang {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  left: 30px;
  bottom: 30px
}

/*Copyright */
footer {
  font-size: 0.5rem;
  color: white;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5rem;
}


/*Page d'acceuil */
#présentation {
  margin: 20vh auto 22% auto;/*(haut droite bas gauche)*/
  color: #9ec3ff;
  width: 80%;
}

#présentation p {
  line-height: 1.3rem;
  font-size: 0.9rem;
}

#présentation h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

/*Page à propos */
.block {
  line-height: 1rem;
  font-size: 0.8rem;
  background-color: #9ec3ff;
  margin: 16vh auto 0 auto;/*(haut droite bas gauche)*/
  width: 70%;
  padding: 1.5rem;
  border-radius: 40px;
}

.block h1 {
  font-weight: bold;
  margin-bottom: 1.7rem;
  text-align: center;
  font-size: 2.1rem;
  line-height: 1.8rem;
  font-weight: bold;
}

.block div strong {
  font-weight: bold;
}

.block:nth-child(3) {
  margin-bottom: 15%;
}

/*Page à propos - Mon parcours */
#ligne {
  background-color: black;
  width: 100%;
  height: 0.3rem;
}

.conteneur-année {
  display: flex;
  justify-content: space-around;
}

.année {
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: solid black;
  background-color: black;
  color: #9ec3ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.année:hover {
  color: white;
  border: solid white;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  line-height: 0;
}

#boite {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  border: solid black;
}

/*Page à propos - Mes compétences */
.type-compétence {
  background-color: black;
  color: #9ec3ff;
  height: 1.2rem;
  text-align: center;
  padding-top: 0.2rem;
}

.compétences {
  text-align: center;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
}

/*Page Contact */
#titre-contact {
  color: #9ec3ff;
  margin-top: 12vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 2.2rem;
}

#block-contact {
  margin: 2vh auto 20vh auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

}

#info-perso {
  background-color: #9ec3ff;
  padding: 0.8rem;
  border-radius: 40px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 0.5rem;
  margin-left: 1rem;
}

#info-perso div {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#icon-address + p {
  margin-top: 0.4rem;
}

#icon-phone + p {
  margin-top: 0.2rem;
}

#icon-email + p {
  margin-top: 0.1rem;
  font-size: 1rem;
}

#icon-phone, #icon-email {
  width: 1.5rem;
}

#icon-address {
  width: 1.8rem;
}

#formulaire {
  background-color: #9ec3ff;
  padding: 1rem;
  border-radius: 40px;
  margin-right: 1rem;
  margin-left: 0.5rem;
  min-width: 100px;
}

#formulaire form {
  display:flex;
  flex-direction : column;

}

#formulaire form>div {
  display:flex;
  flex-direction : column;
  width : 100%;
  margin-bottom: 0.2rem;
}

#formulaire label {
  margin-bottom: 0.1rem;
}

#formulaire .nom_prenom {
  flex-direction : row;
  justify-content : space-between;
}

#formulaire .nom_prenom div {
  display:flex;
  flex-direction : column;
  width : 45%;
}

#formulaire input {
  border : none;
  height : 1.2rem;
  border-bottom: 5px solid #1a1a1a;
  font-size: 12pt;
}

#formulaire textarea {
  border : none;
  height : 80px;
  border-bottom: 5px solid #1a1a1a;
  resize : none;
  font-size: 12pt;
}

#formulaire button {
  border : 4px solid #1a1a1a;
  background-color : #1a1a1a;
  color : #9ec3ff;
  font-size : 1rem;
  margin-top : 15px;
  width : 60%;
  align-self : center;
  height : 1.5rem;
  cursor : pointer;
}

#formulaire button:hover {
  background-color : white;
  color : #1a1a1a;
}



@media screen and (max-width: 1100px) {

  html, body {
    font-size: 30px;
  }

  main {
    width: 100%;
  }

  h3 {
    line-height: 1rem;
  }

  #button_nav {
    z-index: 3;
    cursor: pointer;
  }

  #menu {
    display: none;
    width: 40%;
  }

  #button:checked + #menu {
    display: block;
    z-index: 2;
  }

  #button:checked ~ #backgroundMenu {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
  } 

  #block-contact {
    flex-direction: column;
    justify-content: center;
  }

  #info-perso {
    margin: 0 auto 0 auto;
    height: 30vh;
    max-width: 80%;
  }

  #formulaire {
    margin: 2rem auto 0 auto;/*(haut droite bas gauche)*/
    max-width: 80%;
  }

}


@media screen and (max-width: 500px) {

  html, body {
    font-size: 23px;
  }

  #menu {
    width: 50%;
  }

  #titre-contact {
    font-size: 1.5rem;
  }

  #info-perso {
    font-size: 0.85rem;
  }

  #icon-email + p {
    font-size: 0.85rem;
  }

}